# Files to be ignored.
zshutils-ext
zshaliases-ext

# dotfiles under vim
vim/.netrwhist
vim/.tags

# VIM Plugins
vim/bundle/*
!vim/bundle/Vundle.vim

# Tmux PLugins
tmux/plugins/*
!tmux/plugins/tpm
tmux/resurrect
