# Files to be ignored.
zsh/.zshutils-ext
zsh/.zshaliases-ext

# dotfiles under vim
vim/.vim/.netrwhist
vim/.vim/.tags

# vim files
vim/.vim/externalinit.vim
vim/.vim/preload.vim
vim/.vim/coc-settings.json
vim/.vim/plugged/*

# Tmux PLugins
tmux/.tmux/plugins/*
!tmux/.tmux/plugins/tpm
tmux/.tmux/resurrect

# Eclim
vim/.vim/eclim
vim/.vim/plugin

# Undodir
vim/.vim/undodir

# TODO file.
TODO
