# Files to be ignored.
zsh/.zshutils-ext
zsh/.zshaliases-ext

# dotfiles under vim
vim/.vim/.netrwhist
vim/.vim/.tags

# vim files
vim/.vim/bundle/*
!vim/.vim/bundle/Vundle.vim
vim/.vim/externalinit.vim

# Tmux PLugins
tmux/.tmux/plugins/*
!tmux/.tmux/plugins/tpm
tmux/.tmux/resurrect
